a{
  text-decoration: none;
  color: #494949;
}
body{
  background-color: #eaeaea;
  font-family: 'Montserrat', sans-serif;
}
.wrapper{
  padding: 0px 15px;
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
}
.nav{
  list-style-type: none;
  padding: 0;
  display: flex;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0;
}
.nav>li{
  padding-left: 16px;
  margin-left: 16px;
  position: relative;
}
.nav>li:first-child{
  padding-left: 0;
  margin-left: 0;
}
.nav>li::before{
  content:'';
  display: block;
  position: absolute;
  left: 0;
  width: 2px;
  height: 100%;
  background: #494949;
}
.nav>li:first-child::before{
  display: none;
}
.navigation{
  display: flex;
  padding: 40px 0;
  justify-content: space-between;
  align-items: center;
}
.banner{
  background: url(../image/contentBg.png) center center/cover no-repeat;
  color: #fff;
  padding: 250px 0;
}
.pizza{
  position: absolute;
  right: 0;
  top: -230px;
}
.title{
  font-size: 50px;
  margin-bottom: 23px;
}
.description{
  font-size: 25px;
  line-height: 30px;
  max-width: 570px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 23px;
}
.content_button{
  display: block;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 15px 0;
  max-width: 190px;
  text-align: center;
  border: 2px solid #fff;
}
.page{
  padding-top: 120px;
  padding-bottom: 95px;
}
.center{
  text-align: center;
}
.h2{
  margin-top: 100px;
  font-size: 45px;
  color: #282828;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  position: relative;
  display: inline-block;
  padding-left: 127px;
  padding-right: 127px;
  margin-bottom: 20px;
}
.h2::before{
  left: 0;
}
.h2::after{
  right: 0;
}
.h2::after, .h2::before{
  content:'';
  position: absolute;
  background-image: url(../image/item.png);
  display: block;
  width: 102px;
  height: 28px;
  top: calc(50% - 14px);
}
.h2+p{
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  color: #959595;
  margin: 0;
}
.menu{
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-top: 42px;
  margin-bottom: 65px;
}
.menu > li {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}
.menu > li::before{
  content:'';
  display: block;
  position: absolute;
  left: 0;
  width: 2px;
  height: 100%;
  background: #494949;
}
.menu>li:first-child::before{
  display: none;
}
.menu > li > a {
  color: #494848;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 8px;
}
.menu > li > a.active{
  border-bottom: 4px solid #ee252d;
  position: relative;
}
.menu > li > a.active::before{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  display: block;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-bottom: 7px solid #ee252d;
}
.box{
  background: white;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.11);
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}
.box_item{
  padding: 64px 0 64px 55px;
  box-sizing: content-box;
}
.box_item:last-child .box_text{
  border: none;
}
.number{
  font-family: 'Roboto', sans-serif;
  color: #282828;
  font-size: 120px;
  font-weight: 900;
  position: relative;
  margin-bottom: 0;
  margin-top: 0;
}
.number::after{
  content:'';
  display: block;
  position: absolute;
}
.number_one::after{
  left: 66px;
  background: url(../image/pizzaStiker.png);
  width: 126px;
  height: 71px;
  top: calc(50% - 35px);
}
.number_two::after{
  left: 86px;
  background: url(../image/pizzaLined.png);
  width: 184px;
  height: 81px;
  top: calc(50% - 40px);
}
.number_three::after{
  left: 95px;
  background: url(../image/networks.png);
  width: 142px;
  height: 68px;
  top: calc(50% - 34px);
}
.box_text{
  padding-right: 55px;
  border-right: 1px solid #eaeaea;
}
.box_text h3{
  font-size: 45px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  color: #282828;
  margin: 0;
  margin-bottom: 23px;
}
.box_text p{
  margin-top: 0;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  line-height: 24px;
  color: #282828;
}
.btn_start{
  color: #fff;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  padding: 30px 54px;
  background: url(../image/footer.png);
  background-position: center center;
  background-repeat: no-repeat;
}
.footer{
  background: url(../image/footerBack.png);
  padding: 30px 0;
  color: #eaeaea;
  text-transform: uppercase;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: 46px 0;
}
@media (max-width: 1250px) {
  .wrapper{
    max-width: 800px;
  }
  .pizza{
    display: none;
  }
  .banner{
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .page{
    padding-top: 0;
  }
  .box{
    flex-direction: column;
  }
  .box_item{
    padding: 64px 55px 25px 55px;
  }
  .box_text{
    border-right: none;
    border-bottom: 1px solid #eaeaea;
    padding-right: 0;
  }
  .box_item:last-child .box_text{
    border: none;
  }
}
@media (max-width: 750px) {
  .wrapper{
    max-width: 650px;
  }
  .navigation{
    flex-direction: column;
  }
  .nav{
    margin-top: 30px;
  }
  .h2::after, .h2::before{
    display: none;
  }
  .menu > li > a.active{
    border: none;
  }
  .menu > li > a.active::before{
    display: none;
  }
}
@media (max-width: 680px) {
  .wrapper{
    max-width: 600px;
  }
  .menu > li > a{
    font-size: 13.5px;
  }
}
@media (max-width: 560px) {
  .nav > li > a{
    font-size: 14px;
  }
  .menu > li{
    padding-left: 0;
    padding-right: 10px;
  }
  .menu > li::before{
    display: none;
  }
  .nav>li::before{
    display: none;
  }
  .btn_start{
    font-size: 20px;
    background-size: contain;
  }
  .h2{
    padding: 0;
  }
}
@media (max-width: 460px) {
  .nav > li > a{
    font-size: 12px;
  }
  .nav > li{
    padding-left: 10px;
    margin-left: 10px;
  }
}
@media (max-width: 440px) {
  .menu > li > a{
    font-size: 10px;
  }
}
@media (max-width: 380px) {
  .wrapper{
    max-width: 500px;
  }
  .banner{
    padding-top: 40px;
  }
  .nav > li > a{
    font-size: 10.4px;
  }
  .btn_start{
    font-size: 15px;
  }
}
